body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.card {
  width: 300px;
  margin: 120px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

a {
  display: block;
  margin-top: 10px;
}
